process.container = "nextflow/nextflow:21.04.3"
docker {
  enabled = true
  fixOwnership = true
}


process {
  memory = 1.GB
  cpus = 1

  withLabel: singlecpu { cpus = 1 }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 8 }
  withLabel: highcpu { cpus = 10 }
  
  withLabel: lowmem { memory = 5.GB }
  withLabel: midmem { memory = 8.GB } 
  withLabel: highmem { memory =  25.GB }
}

